<section id="video">
    <div >
		<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">·þÎñÄÚÈÝ</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
		<div>
			<embed src="http://player.youku.com/player.php/sid/XMTUwNzQwMDY1Ng==/v.swf" quality="high" width="1280" height="720" allowScriptAccess="allways" mode="transparent" type="application/x-shockwave-flash">
			</embed>
		</div>
	</div>
</section>